
* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
}
nav {
    min-height: 100vh;
    width: 290px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: khaki;
}
nav img {
    width: 250px;
    height: 290px;
    border-radius: 50%;
    border: 2px solid;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul {
    list-style-type: none;
}
section {
    min-height: 100vh;
    background-color: white;
    margin-left: 290px;
}
.about-us div {
    position: absolute;
    top: 30%;
    background-color: whitesmoke;
    margin: 0 0 0 50px;
}
.travel div {
    margin-top: 50px;
}
.travel-entries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
h1 {
    color: indigo;
}
.experience h2 {
    margin-top: 50px;
}
p {
    color: green;
}
